  /* ESTILOS GENERALES */

  body {
    font-family: "Roboto", sans-serif;
  }
  
  /* CABECERA IMÁGENES LOGO Y RRSS */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
  }
  header img {
    height: 90px;
    margin-right: 50px;
  }
  header .social-media {
    display: flex;
    align-items: center;
  }
  header .social-media img {
    height: 90px;
    margin-right: 15px;
  }

/* PRIMER CALL TO ACTION DE LA LANDING */
.quiero-saber {
  background-color: #48D6E9; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* IMAGEN Y TEXTO PRINCIPAL */
.slider {
  position: relative;
}
.slider img {
  width: 100%;
  height: auto;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #FFFFFF;
  max-width: 30em;
}
.text-container h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-family: 'Open Sans', sans-serif;
}
.text-container p {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.titulo {
  font-size: 2.2em;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}


/* RECTÁNGULO DONDE SE VA EL TEXTO DE PRESENTACIÓN DE LA EMPRESA
SE  INTENTÓ QUE TENGA COLOR, PERO NO EXAGERADO, PARA QUE RESALTE, PERO CON ALGO DE OPACIDAD COMO 
PARA QUE SEA LEGIBLE */

.rectangulo {
  background-color: rgba(244, 175, 95, 0.7);
  padding: 15px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 1);
}




/* PRESENTACIÓN DEL EQUIPO DE LA EMPRESA */

.team-section {
  background-color: #FFFFFF;
  padding: 50px 0;
}
.team-section h2 {
  font-size: 2.2em;
  color: #48D6E9 ;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.team-section p {
  font-size: 1em;
  color: #878481;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-width: 20em;
  margin: 0 auto;
}


.team-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url("./img/fotos.png") no-repeat;
  background-size: contain;
  background-position: left top;
  padding: 70px;
}

.team-section h2, 
.team-section p {
  text-align: right;
  margin: 0;
  flex: 1;
}

.form1 {
  text-align: center;
}

.form1 h3 {
  font-size: 2em;
  color: #48D6E9;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

/* ESTILOS DE FORMULARIO BÁSICO */


.contenedor-formulario {
font-family: 'Roboto', sans-serif;
max-width: 450px;
margin: 0 auto;
background-color: #FFFFFF;
padding: 20px;
border: 2px solid #48D6E9;
box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
} 



label {
display: block;
margin-bottom: 5px;
color: #333;
}

input[type="text"], input[type="email"], textarea {
font-family: 'Open Sans', sans-serif;
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: 2px solid #C1CE5A;
border-radius: 4px;
}

input[type="submit"] {
background-color: #48D6E9;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-family: 'Open Sans', sans-serif;
}

input[type="submit"]:hover {
background-color: #F4AF5F;
}

/* ESTILO IMAGEN DESTINOS*/
.image-container {
	margin: 0 auto;
	max-width: 800px;
	padding: 10px;
}

.img-right {
	float: right;
	margin-left: 20px;
}

/* ESTILOS DE LOS MEDIOS DE PAGO */

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image {
  width: 35%;
  padding: 10px;
}

/* ESTILOS TÍTULO DE MEDIO DE PAGO */

.image-container h3 {
  font-size: 2em;
  color: #48D6E9;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

/* ESTILOS TÍTULO DE PACKS */
.packs h3 {
  font-size: 2em;
  color: #48D6E9;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

/* ESTILOS TEXTO DE PACKS TURÍSTICOS */
.texto-pack {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 140px; 
  padding-right: 140px;
  text-align: justify;  
}

.texto-pack  {
  font-size: 1em;
  color: #878481;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.image-container.vacaciones img {
  width: 47%;
}


/* ESTILOS TÍTULO SOBRE CLIENTES - PRESENTACIÓN DE TESTIMONIOS */
.clientes h3 {
  font-size: 2em;
  color: #48D6E9;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}


/* ESTILOS DE TESTIMONIOS DE CLIENTES */

.testimonios-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonio {
  width: 26%;
  background-image: linear-gradient(to bottom,  rgba(193,206,90,0.4), rgba(255,255,255,0.4), rgba(72,214,233,0.4), rgba(244,175,95,0.4));
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 10px;
  color: #878481;
}

.foto-testimonio {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.foto-testimonio img {
  width: 110%;
  height: auto;
}

.informacion-testimonio {
  text-align: center;
}

blockquote {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}


/* ESTILOS TÍTULO DE COTIZACIÓN */

.cotizar h3 {
  font-size: 2em;
  color: #48D6E9;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

.texto-gris {
  font-size: 1em;
  color: #878481;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-left: 150px; 
  padding-right: 150px;
  
}


/* ESTILOS DE FORMULARIO DE PROCESO ESTILO WIZARD*/

#formularioproceso h4 {
  color: #878481;
}


#formulario {
  width: 80%;
  margin: 0 auto;
}

.paso {
  display: block;
}

.paso:not(:first-child) {
  display: none;
}

/* ESTILOS DE BOTONES FORM */
button {
  background-color: #48D6E9  ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  margin-left: 10px;
}

button:hover {
  background-color: #F19446;
}

/* ESTILO BOTÓN PDF */
#generar-pdf {
  margin-top: 20px;
}

/* ESTILO DE RESUMEN */
#resumen {
  background-color: #f2f2;
}



/* ESTILO DE IMAGEN PRINCIPAL SECUNDARIA */

.container {
  max-width: 999px;
  margin: 0 auto;
  padding: 10px 10px;
}

.cities-image {
  display: block;
  margin: 0 auto;
  max-width: 85%;
  height: auto;
}

/* ESTILO DE FOOTER */

.footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #878481;
} 

.footer-top {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.footer-top p {
  margin: 0;
}

.footer-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.footer-social a img {
  max-width: 100%;
}



.footer-bottom {
  background-image: linear-gradient(to bottom,  rgba(193,206,90,0.4), rgba(255,255,255,0.4), rgba(72,214,233,0.4), rgba(244,175,95,0.4));
  padding: 10px;
  text-align: center;
}

.footer-bottom p {
  color: #878481;
  margin: 0;
}


