/* RECUADRO FONDO DE TEXTO DE PRESENTACIÓN DEL EQUIPO DE LA EMPRESA */

.rectangulo {
  background-color: #F4AF5F;
  padding: 15px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 1);
}

/* PRESENTACIÓN DEL EQUIPO DE LA EMPRESA */

.team-section {
  background-color: #FFFFFF;
  padding: 50px 0;
}
.team-section h1 {
  font-size: 5em;
  color: #48D6E9 ;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}
.team-section p {
  font-size: 1.2em;
  color: rgb(8, 8, 66);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  max-width: 30em;
  margin: 0 auto;
}

.team-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url("foto.jpg") no-repeat;
  background-size: contain;
  background-position: left top;
  padding: 50px;
}

.team-section h1, 
.team-section p {
  text-align: right;
  margin: 0;
  flex: 1;
}


/* PAQUETES TURÍSTICOS */

.paquete {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.paquete img {
  flex: 1;
  margin-right: 30px;
}

.paquete:nth-child(even) img {
  margin-right: 0;
  margin-left: 30px;
}

.paquete h3,
.paquete p {
  flex: 1;
}

.contenido-izquierda {
  flex: 2;
  text-align: left;
}

.paquete img {
  order: 1;
  margin-right: 30px;
}

.paquete img {
  max-width: 30%;
}

/* ESTILOS TÍTULOS Y TEXTOS DE PAQUETES */

.paquete .titulo-paquete {
  color: #48D6E9; /* color del título */
  font-family: Montserrat, sans-serif; /* tipo de letra del título */
}

.paquete .texto-paquete {
  color: #F19446; /* color del texto */
  font-family: Open Sans, sans-serif; /* tipo de letra del texto */
}



/* ESTILOS DE FORMULARIO SENCILLO */

form {
  font-family: 'Roboto', sans-serif;
  max-width: 450px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 20px;
  border: 2px solid #48D6E9;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

input[type="text"], input[type="email"] {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #C1CE5A;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #F19446;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

input[type="submit"]:hover {
  background-color: #F4AF5F;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #C1CE5A;
  border-radius: 4px;
  }



  /* ESTILOS GENERALES */

body {
  font-family: "Roboto", sans-serif;
}


/* ESTILOS DE FORMULARIO DE PROCESO*/
#formulario {
  width: 80%;
  margin: 0 auto;
}

.paso {
  display: block;
}

.paso:not(:first-child) {
  display: none;
}

/* ESTILOS DE BOTONES FORM */
button {
  background-color: #F19446 ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  margin-left: 10px;
}

button:hover {
  background-color: #F19446;
}

/* ESTILO BOTÓN PDF */
#generar-pdf {
  margin-top: 20px;
}

/* ESTILO DE RESUMEN */
#resumen {
  background-color: #f2f2;
}



/* ESTILO DE IMAGEN PRINCIPAL SECUNDARIA */

.container {
  max-width: 999px;
  margin: 0 auto;
  padding: 10px 10px;
}

.cities-image {
  display: block;
  margin: 0 auto;
  max-width: 85%;
  height: auto;
}

/* ESTILO DE FOOTER */

.footer {
  background-color: #C1CE5A;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}